###################################################################
# Typechecking .env
###################################################################

# RabbitMQ configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

# Worker configuration
MAX_WORKERS=16
WORKER_CONCURRENCY=4
WORKER_PREFETCH_COUNT=1

# MongoDB configuration
MONGO_PORT=27017
MONGO_HOST=localhost
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_DB=typechecking
MONGO_TASKS_COLLECTION=results

# Redis configuration
REDIS_PASSWORD=admin
REDIS_PORT=6379
REDIS_HOST=localhost
# Expiration time in seconds. Default is 5 minutes (300 seconds).
REDIS_EXPIRE_SECONDS=300
