###################################################################
# Typechecking .env
###################################################################

# RabbitMQ configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

# Worker configuration
MAX_WORKERS=16
WORKER_CONCURRENCY=4
WORKER_PREFETCH_COUNT=1

# Database connection configuration
DATABASE_CONNECTION_HOST=localhost
DATABASE_CONNECTION_PORT=50050

