global:
    scrape_interval: 1m
    evaluation_interval: 1m
    external_labels:
        cluster: "docker-swarm"
        environment: development

scrape_configs:
    - job_name: prometheus
      static_configs:
          - targets:
                - localhost:9090

    - job_name: cadvisor
      dns_sd_configs:
          - names:
                - tasks.cadvisor
            type: A
            port: 8080
      relabel_configs:
          - source_labels:
                - __address__
            target_label: __param_target
          - source_labels:
                - __param_target
            target_label: instance
          - target_label: __address__
            replacement: cadvisor:8080

    - job_name: node-exporter
      dns_sd_configs:
          - names:
                - tasks.node-exporter
            type: A
            port: 9100
      relabel_configs:
          - source_labels:
                - __address__
            regex: "([^:]+):.+"
            target_label: instance

    - job_name: docker-swarm
      dockerswarm_sd_configs:
          - host: unix:///var/run/docker.sock
            role: tasks
      relabel_configs:
          - source_labels:
                - __meta_dockerswarm_service_name
            target_label: service
          - source_labels:
                - __meta_dockerswarm_task_desired_state
            regex: running
            action: keep
          - source_labels:
                - __meta_dockerswarm_node_hostname
            target_label: node
