global:
    scrape_interval: 15s
    evaluation_interval: 15s
    external_labels:
        cluster: "docker-swarm"
        environment: development

scrape_configs:
    - job_name: prometheus
      static_configs:
          - targets:
                - localhost:9090

    - job_name: cadvisor
      scrape_interval: 5s
      static_configs:
          - targets:
                - cadvisor:8080

    - job_name: node-exporter
      scrape_interval: 5s
      static_configs:
          - targets:
                - node-exporter:9100

    - job_name: docker-swarm
      dockerswarm_sd_configs:
          - host: unix:///var/run/docker.sock
            role: tasks
      relabel_configs:
          - source_labels:
                - __meta_dockerswarm_service_name
            target_label: service
          - source_labels:
                - __meta_dockerswarm_task_desired_state
            regex: running
            action: keep
          - source_labels:
                - __meta_dockerswarm_node_hostname
            target_label: node
