apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: development
  labels:
    app: redis
    component: redis
    environment: development
spec:
  type: ClusterIP
  selector:
    app: redis
    component: redis
    environment: development
  ports:
    - port: 6379
      targetPort: 6379
