apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: development
  labels:
    app: postgres
    component: postgres
    environment: development
spec:
  type: ClusterIP
  selector:
    app: postgres
    component: postgres
    environment: development
  ports:
    - port: 5432
      targetPort: 5432
