apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: typechecking-redis-pvc
  namespace: development
  labels:
    app: redis
    component: redis
    environment: development
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
