apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- toYaml .Values.deployment.labels | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.deployment.labels.app }}
      component: {{ .Values.deployment.labels.component }}
      environment: {{ .Values.deployment.labels.environment }}
  template:
    metadata:
      labels:
        {{- toYaml .Values.deployment.labels | nindent 8 }}
    spec:
      initContainers:
        - name: wait-for-database
          image: busybox:1.35
          command: ["sh", "-c"]
          args:
            - until nc -z {{ .Values.dependencies.database.host }} {{ .Values.dependencies.database.port }}; do
              echo "Waiting for database service...";
              sleep 5;
              done;
              echo "Database is ready!"

        - name: wait-for-rabbitmq
          image: busybox:1.35
          command: ["sh", "-c"]
          args:
            - until nc -z {{ .Values.dependencies.rabbitmq.host }} {{ .Values.dependencies.rabbitmq.port }}; do
              echo "Waiting for RabbitMQ service...";
              sleep 5;
              done;
              echo "RabbitMQ is ready!"

      containers:
        - name: {{ .Values.deployment.name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          resources:
            {{- toYaml .Values.resources | nindent 12 }}

          env:
            # Typechecking service related
            - name: MAX_WORKERS
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.variables.config }}
                  key: MAX_WORKERS
            - name: WORKER_PREFETCH_COUNT
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.variables.config }}
                  key: WORKER_PREFETCH_COUNT

            # Database server related
            - name: DATABASE_CONNECTION_HOST
              value: {{ .Values.dependencies.database.host }}
            - name: DATABASE_CONNECTION_PORT
              value: "{{ .Values.dependencies.database.port }}"

            # RabbitMQ related
            - name: RABBITMQ_HOST
              value: {{ .Values.dependencies.rabbitmq.host }}
            - name: RABBITMQ_PORT
              value: "{{ .Values.dependencies.rabbitmq.port }}"
            - name: RABBITMQ_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.variables.secrets }}
                  key: RABBITMQ_USER
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.variables.secrets }}
                  key: RABBITMQ_PASSWORD
            - name: RABBITMQ_VHOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.variables.config }}
                  key: RABBITMQ_VHOST
            - name: RABBITMQ_EXCHANGE
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.variables.config }}
                  key: RABBITMQ_EXCHANGE
            - name: RABBITMQ_EXCHANGE_TYPE
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.variables.config }}
                  key: RABBITMQ_EXCHANGE_TYPE
            - name: RABBITMQ_QUEUE_SCHEMAS
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.variables.config }}
                  key: RABBITMQ_QUEUE_SCHEMAS
            - name: RABBITMQ_QUEUE_VALIDATIONS
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.variables.config }}
                  key: RABBITMQ_QUEUE_VALIDATIONS
            - name: RABBITMQ_ROUTING_KEY_SCHEMAS
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.variables.config }}
                  key: RABBITMQ_ROUTING_KEY_SCHEMAS
            - name: RABBITMQ_ROUTING_KEY_VALIDATIONS
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.variables.config }}
                  key: RABBITMQ_ROUTING_KEY_VALIDATIONS
            - name: RABBITMQ_PUBLISHERS_ROUTING_KEY_SCHEMAS
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.variables.config }}
                  key: RABBITMQ_PUBLISHERS_ROUTING_KEY_SCHEMAS
            - name: RABBITMQ_PUBLISHERS_ROUTING_KEY_VALIDATIONS
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.variables.config }}
                  key: RABBITMQ_PUBLISHERS_ROUTING_KEY_VALIDATIONS

        # TODO: Add readiness and liveness probes
        # this app does not have a web server, but it's planned to add a /health endpoint
