name: CI - Database Tests
on:
  pull_request:
    branches:
      - main
      - staging
    paths:
      - "apps/connections/database/**"
      - "packages/messaging-utils/messaging-utils-py/**"
      - "packages/proto-utils/proto-utils-py/**"

jobs:
  database-tests:
    uses: ./.github/workflows/reusable/ci-tests.yml
    with:
      service_name: "database"
