apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: development
  labels:
    app: redis
    component: redis
    environment: development
spec:
  selector:
    matchLabels:
      app: redis
      component: redis
      environment: development
  replicas: 1
  template:
    metadata:
      labels:
        app: redis
        component: redis
        environment: development
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: REDIS_PASSWORD
                  name: development-secret
          command:
            - redis-server
            - --requirepass
            - $(REDIS_PASSWORD)

          # Health checks
          readinessProbe:
            exec:
              command:
                - redis-cli
                - ping
                - -a
                - $(REDIS_PASSWORD)
            initialDelaySeconds: 30
            periodSeconds: 10

          livenessProbe:
            exec:
              command:
                - redis-cli
                - ping
                - -a
                - $(REDIS_PASSWORD)
            initialDelaySeconds: 30
            periodSeconds: 30

          ports:
            - containerPort: 6379
              name: redis

          volumeMounts:
            - name: typechecking-redis-data
              mountPath: /data

          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"

      volumes:
        - name: typechecking-redis-data
          persistentVolumeClaim:
            claimName: typechecking-redis-pvc
