apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: typechecking-postgres-pvc
  namespace: development
  labels:
    app: postgres
    component: postgres
    environment: development
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
