name: CI/CD Production - API
on:
  push:
    branches:
      - main
      - chore/test-ci # temporal
    paths:
      - "apps/backend/api/**"
      - "packages/messaging-utils/messaging-utils-py/**"

permissions:
  contents: write # to create tags

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create Production Version
        id: version
        uses: ./.github/actions/create-production-version
        with:
          promote_from_staging: "yes"
          bump_type: "auto"
          custom_version: ""
          dry_run: "false"

      - name: Build Docker Image
        uses: ./.github/actions/build-docker-image
        with:
          service_name: "api"
          verify_image: "true"
          push_image: "true"
          registry_username: ${{ secrets.DOCKERHUB_USERNAME }}
          registry_password: ${{ secrets.DOCKERHUB_TOKEN }}
          image_name: "etl-api"
          image_tag: ${{ steps.version.outputs.version }}
    
  # When docker stack is ready, there should be another job here to
  # update docker-stack files and deploy to production environment
