name: CI/CD Staging - API
on:
  push:
    branches:
      - staging
      - chore/test-ci # temporal
    paths:
      - "apps/backend/api/**"
      - "packages/messaging-utils/messaging-utils-py/**"
  workflow_dispatch:
    inputs:
      bump_type:
        description: "Version bump type"
        required: true
        type: choice
        options:
          - auto
          - minor
          - major
        default: "auto"
      custom_version:
        description: "Custom version (optional, e.g., 2.00-rc)"
        required: false
        type: string
      dry_run:
        description: "Dry run (calculate version but don't create tag)"
        required: false
        type: boolean
        default: true

permissions:
  contents: write # to create tags

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create version tag
        id: version
        uses: ./.github/actions/create-version-tag
        with:
          bump_type: ${{ inputs.bump_type || 'auto' }}
          custom_version: ${{ inputs.custom_version || '' }}
          suffix: "rc"
          dry_run: ${{ inputs.dry_run || 'false' }}

      - name: Build Docker Image
        uses: ./.github/actions/build-docker-image
        with:
          service_name: "api"
          verify_image: "true"
          push_image: "true"
          registry_username: ${{ secrets.DOCKERHUB_USERNAME }}
          registry_password: ${{ secrets.DOCKERHUB_TOKEN }}
          image_name: "etl-api"
          image_tag: ${{ steps.version.outputs.version }}
    
  # When docker stack is ready, there should be another job here to
  # update docker-stack files and deploy to staging environment
