name: CI - Formula Parser Tests
on:
    pull_request:
        branches:
            - main
            - staging
            - feat/CI
        paths:
            - apps/backend/parsers/formula-parser/src/**
            - apps/backend/parsers/formula-parser/tests/**
            - packages/proto-utils/proto-utils-js/src/**
            - tools/eslint/src/**
            - tools/tsconfig/**
            - .github/workflows/ci-formula-parser-tests.yml

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup moon
              uses: moonrepo/setup-toolchain@v0
              with:
                  auto-install: true

            - name: Enable corepack for pnpm
              run: corepack enable

            - name: Install dependencies
              run: |
                  moon formula-parser:pnpm -- install

            - name: Run tests
              uses: ./.github/actions/run-unit-tests
              with:
                  service_name: "formula-parser"
                  env_example_file: "apps/backend/parsers/formula-parser/.env.example"
